.list {
  background: rgb(233, 233, 32);
}


.item-list-container {
  
  /* margin-left: 15px; */
}

.item {
/* margin-top: 10px; */
padding-top: 5px;
padding-bottom: 5px;

border-bottom: 1px solid gray;
cursor: pointer;
}

.item-container {
  /* background: lightblue; */
  width: 85%;
  display: inline-block;

  /* float: left; */
}

.item-name {
  margin-left: 15px;
  font-weight: bold;
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.item-qty {
  margin-left: 25px;
  font-weight: bold;
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Kalam', cursive;
  font-size: 14px;
}

.item-btn-container {
  width: 15%;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-delete-btn {
  color: red;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

.item-line {
  width: 90%;
  text-align: center;
  color: gray;
}

.strike {
  text-decoration: line-through;
  color: red;
  font-size: 20px;
  font-weight: bold;
  opacity: .7;
}





















